global
    maxconn 500

defaults
    mode http
    timeout connect 10s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:80
    #default_backend search_nodes_tcp
    acl even path_end -i /even
    acl odd path_end -i /odd

    use_backend search_nodes_even if even
    use_backend search_nodes_odd if odd

backend search_nodes_odd
    balance roundrobin
    option httpchk GET /status
    http-check expect string "Server is alive"
    server server01 app1:8081 check inter 1s weight 2
    server server03 app3:8083 check inter 2s weight 1

backend search_nodes_even
    balance roundrobin
    option httpchk GET /status
    http-check expect string "Server is alive"
    server server02 app2:8082 check inter 2s weight 2

backend search_nodes_tcp
    balance roundrobin
    option httpchk GET /status
    server server01 app1:8081 check
    server server03 app3:8083 check
    server server02 app2:8082 check

listen stats
    bind *:83
    stats enable
    stats uri /
